<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Pay My Buddy Transfer Page</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<br>
<br>
<!-- create navigation bar (header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="background-color:#7dd076">

        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
            <a class="navbar-brand" href="#" th:href="@{/contact}">Contact</a>
            <a class="navbar-brand" href="#" th:href="@{/bankAccount}">Bank</a>
            <a class="navbar-brand" href="#" th:href="@{/transfer}">Transfer</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container" >
    <div class="row" >
        <h1> Transfer Money </h1>
    </div>


    <!-- FORM : Transaction between users -->
    <div class="container">


        <form th:action="@{/transaction}" method="post" th:object="${transfer}">


    </div>



    <div class="form-group">
        <label class="control-label" for="amount"> Amount </label> <input
            id="amount" class="form-control" th:field="*{transfer.amount}"
            required autofocus="autofocus"/>
    </div>

    <div class="form-group">
        <label class="control-label" for="lastName"> Description </label> <input
            id="lastName" class="form-control" th:field="*{transfer.description}"
            required autofocus="autofocus"/>
    </div>
    <div class="form-row my-3">
        <div class="col-12 col-md-6 col-lg-4">
            <select class="form-control" id="dropDownList" name="email" >

                <option value="0">-- Please select buddy --</option>
                <option th:each="user : ${listFriends}"
                        th:value="${user.email}"
                        th:text="${user.email}">

                </option>

            </select>
        </div>


        <br>
        <div class="col-12 col-md-4 col-lg-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
    </div>
    </form>

</div>




    <!-- FORM : Transaction between users -->
    <div class="container">
        <form method="POST" th:object="${UserTransactionDto}"
              th:action="@{/userTransaction}">
            <div class="form-row my-3">
                <div class="col-12 col-md-6 col-lg-4">

                </div>
            </div>

            <br>
            <!-- Table -->

            <table class="table table-striped table-bordered" bgcolor="green" >
                <thead class="table-dark">
                <tr>
                    <th> Description</th>
                    <th> Amount</th>
                    <th> Debit Account</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="user: ${sentPayments}">
                    <td th:text="${user.description}"></td>
                    <td th:text="${user.amount}"></td>
                    <td th:text="${user.creditAccount.email}"></td>


                </tr>
                </tbody>

            </table>

            <!-- Table -->

            <table class="table table-striped table-bordered" >
                <thead class="table-dark">
                <tr>
                    <th> Description</th>
                    <th> Amount</th>
                    <th> Credit Account</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="user: ${receivedPayments}">
                    <td th:text="${user.description}"></td>
                    <td th:text="${user.amount}"></td>
                    <td th:text="${user.debitAccount.email}"></td>


                </tr>
                </tbody>

            </table>



        </form>
    </div>
</div>
</body>

</html>