<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Pay My Buddy Transfer Page</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>
<!-- create navigation bar (header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
            <a class="navbar-brand" href="#" th:href="@{/contact}">Contact</a>
            <a class="navbar-brand" href="#" th:href="@{/bankAccount}">Bank</a>
            <a class="navbar-brand" href="#" th:href="@{/transfer}">Transfer</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container" >
    <div class="row" >
        <h1> Transfer Money </h1>
    </div>

    <!-- FORM : Transaction between users -->
    <div class="container">
        <form method="POST" th:object="${UserTransactionDto}"
              th:action="@{/userTransaction}">
            <div class="form-row my-3">
                <div class="col-12 col-md-6 col-lg-4">
<!--                    <select th:field="*{userDestinationId}" class="form-control">-->
<!--                        <option value="0">-&#45;&#45; Please select buddy -&#45;&#45;</option>-->
<!--                        <option-->
<!--                                th:each="user : ${user.friends()}"-->
<!--                                th:value="${user.getId}"-->
<!--                                th:text="${user.getEmail()}">-->
<!--                        </option>-->
<!--                    </select>-->
<!--                    <span class="has-error" th:if="${#fields.hasErrors('userDestinationId')}"-->
<!--                          th:errors="*{userDestinationId}">-->
<!--					</span>-->
                </div>


<!--                <div class="col-12 col-md-6 col-lg-8 h5 text-right">-->
<!--                    <div-->
<!--                            th:text="'Your account value: '+ ${user.amount}+ ' ' +${user.currency}"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-row">-->
<!--                <div class="col-6 col-md-4 col-lg-3">-->
<!--                    <input th:field="*{amount}" type="number" step="0.01"-->
<!--                           class="form-control" placeholder="Enter money amount"-->
<!--                           autofocus="true"> <span class="has-error"-->
<!--                                                   th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>-->
<!--                </div>-->
<!--                <div class="col-6 col-md-4 col-lg-3">-->
<!--                    <select th:field="*{currency}" class="form-control">-->
<!--                        &lt;!&ndash;/* Accessing directly bean "currenciesAllowed" in Spring application context: */&ndash;&gt;-->
<!--                        <option-->
<!--                                th:each="entry : ${@currenciesAllowed.getCurrenciesAllowedList()}"-->
<!--                                th:value="${entry}" th:text="${entry.getDisplayName()}">-->
<!--                        </option>-->
<!--                    </select>-->
<!--                    <span class="has-error" th:if="${#fields.hasErrors('currency')}"-->
<!--                          th:errors="*{currency}"></span>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="col-12 col-md-4 col-lg-3">-->
<!--                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
    <br>


                <!-- Table -->

                <table class="table table-striped table-bordered" >
                    <thead class="table-dark">
                    <tr>
                        <th> Description</th>
                        <th> Amount</th>
                        <th> Sent Payment</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="user: ${sentPayments}">
                        <td th:text="${user.description}"></td>
                        <td th:text="${user.amount}"></td>
                        <td th:text="${user.creditAccount}"></td>


                    </tr>
                    </tbody>

                </table>

                <!-- Table -->

                <table class="table table-striped table-bordered" >
                    <thead class="table-dark">
                    <tr>
                        <th> Description</th>
                        <th> Amount</th>
                        <th> Receive Payment</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="user: ${receivedPayments}">
                        <td th:text="${user.description}"></td>
                        <td th:text="${user.amount}"></td>
                        <td th:text="${user.debitAccount}"></td>


                    </tr>
                    </tbody>

                </table>

</div>
</body>
</html>